/* ---------------------- HERO SECTION ---------------------- */
.nav-bar{
    height: 50px;
    max-width: 1340px;
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    padding-left: 70px;
    padding-right: 70px;
    position: absolute;
    top: 70px;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 4;
}

.img-se{
    height: 100%;
}

.menu-btn{
    width: 45px;
    height: 45px;
    background-color: rgb(61, 59, 59);
    border: 4px solid;
    border-color:  rgb(61, 59, 59);
    border-radius: 10px;
    
}

.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
}
.back-ground-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.left-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(40, 238, 167, .9);
}
.right-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, .9);
}

.left-section{
    position: relative;
    background-image: url("../assets/images/img-1.png");
    width: 50%;
}
.right-section{
    position: relative;
    background-image: url("../assets/images/img-2.png");
    width: 50%;
}

.left-section-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    position: absolute;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: right;
}
.typed-text{
    font-size: 36px;
    
}

.left-section-subtitle{
    color: #fcfcfd;
    background-color: #363738;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.5;
}

.left-section-discription{
    font-size: 16px;
}
.discription{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 12px;
}
.white{
    color: #cfcfcf;
}
.right-section-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    position: absolute;
    z-index: 3;
    padding: 0 60px;
    text-align: left;
    padding-top: 200px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.right-section-subtitle{
    background-color: #fcfcfd;
    color: #363738;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 2.5;
}
.text1{
    color: #fcfcfd;
}

.btn1{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    padding: 15px 20px;
    text-align: center;
}

.blackbtn{
    background-color:#363738;
    color: #fcfcfc;
}

.whitebtn{
    background-color: #fcfcfc;
    color: #363738;
}

/* ------------------- HELLO WORLD ------------------------- */
.main-container{
    padding: 70px;
    height: auto;
    display: flex;
    max-width: 1340px;
    flex-direction: column;
}
.hello-world{
    background-color: #f1f2f1;
}
.symbol{
    font-size: 36px;
    color: #28eea7;
    padding: 10px 0 10px 20px;
    font-weight: 900
}
.hello-world-header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hello-world-content{
    display: flex;
    align-items: center;
}
.hello-world-title{
    padding: 20px;
    font-size: 24px;
    font-weight: 900;
    color: #363738;
}
.circle-icons-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}
.circle-div-icon{
    width: 24px;
    height: 24px;
    background-color: #dcdee1;
    border-radius: 20px;
}
.black{
    background-color: #363738;
}
.primary{
    background-color: #28eea7;
}
.gray{
    background-color:#A5A6A9;
}
.white{
    background-color: #FCFCFD;
}
.text-white{
    color: #FCFCFD;
}
.youtube-video-container{
    margin-top: 50px;
    width: 100%;
    border: 15px solid #28eea7;
    object-fit: fill;
    border-radius: 20px;
}

.milestone-wrapper{
    display: flex;
    margin-top: 50px;
    row-gap: 20px;
    column-gap: 20px;
}
.milestone-container{
    background-color: #f1f2f1;
    border-radius: 20px;
    /* flex-shrink: 1; */

}
.milestone-big{
    padding: 60px 70px;
}
.milestone-small{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.milestone-title{
    font-weight: 900;
    line-height: 1;
}
.milestone-percentage{
    padding-top: 20px;
    line-height: 1.4;
}
.milestone-details{
    font-size: 14px;
    margin-top: 14px;
}
.left{
    font-size: 32px;
    font-weight: 900;
    text-align: left;
    align-self: stretch;
}
.right{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.big{
    font-size: 120px;
}
.small{
    font-size: 64px
}
.row{
    display: flex;
    gap: 20px;

}
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.programs-title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 900;
}

.symbol-small{
    font-size: 24px;
    color: #28eea7;
    padding-left: 20px;
    font-weight: 900
}
.programs-container{
    margin-top: 50px
}
.tabs{
    display: flex;
}
.tab{
    border-radius: 10px 10px 0 0;
    padding: 20px 50px;
    font-weight: 900;
    cursor: pointer;
}

.fcs-clicked{
    border-top-right-radius:20px ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0;
}
.clicked{
    background-color: #363738 ;
}
.green{
    color:#28eea7
}
.yellow{
   color: rgb(255, 198, 53)
}
.purple{
    color:rgb(152, 100, 218)
}
.pink{
    color:rgb(251, 80, 142)
}

.border-rds{
    border-radius: 20px;
}
.program-data{
    padding: 20px;
    display: flex;
    gap: 40px;
}
.program-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.subsection-title{
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}
.subsection-details{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.program-image{
    width: 400px;
    height: 400px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 10px
}
.date-section{
    background-color: black;
    color: #FCFCFD;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.blackbtn1{
    text-decoration: none;
    background-color: black;
    color: #FCFCFD;
    padding: 10px 20px;
    text-align: right;
    flex: 1;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}
.date-container{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.side-menu{
    padding: 70px 70px;
    background-color: rgba(35, 35, 35, .9);
    position: absolute;
    top: 0;
    z-index: 6;
    width: 100vw;
    display: none;
}
.side-menu-container{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-menu-nav{
    height: 50px;
    max-width: 1340px;
    display: flex;
    justify-content:space-between;
    align-items: stretch;
}
.side-menu-left-nav{
    display: flex;
    flex-direction: column;
}

.nav-btn{
    color: #a5a6a9;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}
.account-container{
    width: 40vw;
    height: auto;
    padding: 40px;
    gap: 20px;
    background-color: #363738;
    border-radius: 20px;
    flex-direction: column;
    font-size: 14px;
    display: flex;
}

.account-title{
    text-align: left;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4
}

.login-text{
    color: #a5a6a9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}